        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        
        .container {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
        }

        .header {
            text-align: center;
        }

        /* Tabella */
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
            overflow-x: auto; /* Abilita lo scorrimento orizzontale */
            display: block;
            white-space: nowrap;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        td {
            background-color: #f9f9f9;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            font-size: 1rem;
            border-radius: 5px;
        }

        button:hover {
            background-color: #45a049;
        }

        /* Responsività per schermi più piccoli */
        @media screen and (max-width: 1024px) {
            .container {
                padding: 15px;
            }

            table {
                width: 100%;
                font-size: 0.9rem;
            }

            th, td {
                padding: 8px;
            }

            button {
                font-size: 0.9rem;
                padding: 12px;
            }
        }

        @media screen and (max-width: 768px) {
            table {
                width: 100%;
                font-size: 0.8rem;
            }

            th, td {
                padding: 6px;
            }

            button {
                font-size: 0.9rem;
            }
        }

        @media screen and (max-width: 480px) {
            table {
                font-size: 0.7rem;
            }

            th, td {
                padding: 5px;
            }

            button {
                font-size: 0.8rem;
            }
        }

